body {
  font-family: sans-serif;
}

img {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: blue;
}

.column1 {
  width: 300px;
  float: left;
}

.column2 {
  width: 300px;
  float: right;
}
.my-class {
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.centered-image {
  width: 50%;
  height: auto;
}