body {
  font-family: sans-serif;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: blue;
}

.column1 {
  width: 300px;
  float: left;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}

.column2 {
  width: 300px;
  float: right;
  margin: 12px;
  border: 2px dotted blue;
  padding: 4px;
}

.column3 {
  width: 300px;
  float: right;
  margin: 12px;
  border: 2px solid yellow;
  padding: 4px;
  margin: auto;
}